$indigo: #000066;
$lemon: #ffff99;
$salmon: #ff66cc;

$primary: $indigo;
$secondary: $lemon;

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,500);
$helvetica: 'Helvetica', Arial, Sans-serif;
$roboto-mono:'Roboto Mono';
